.part
{
    display: flex;
}

.left
{
    width: 400px;
    height: 100%;
    background: pink;
}

.idbox
{
    display: flex;
    flex-direction: row;
}


.left>.idbox>button
{
    margin-top: 3px;
    margin-bottom: 3px;
    height: 43px;
    background: rgb(228, 214, 214);
}








.right
{
    flex-grow : 1;
}



.right>button
{
    vertical-align: bottom;
    margin-top: 4px;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border-bottom: 4px inset rgba(0, 0, 0, 0.3);
    transition: all ease 400ms;
}
.right>button:hover
{
    margin-top: 0;
    border-bottom-width: 8px;
}
.right>button:active
{
    border-bottom-width: 0;
}
:focus /*버튼을 눌렀을 때 테두리가 없게함*/
{
    outline: none;
}
.right>.b
{
    background:rgb(51, 122, 150);
}
