.container
{
    width: 700px;
    height: 400px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.container .row
{
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.container .col-25
{
    margin-left: 20px;
    flex: 25%;
}

.container .col-75
{
    flex: 75%;
}

.container .row input
{
    border: none;
    border-radius: 5px;
}

.container #fname
{
    width: 80%;
}

.container #start
{
    width: 340px;
}

.container #dest
{
    width: 340px;
}

.container .row textarea
{
    border-radius: 5px;
    width: 80%;
}

input[type=submit] 
{
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 10px;
}


input[type=submit]:hover 
{
    background-color: #45a049;
}

input[type=text], select, textarea
{
    border: 1px solid #ccc;
}